.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: #5d6e91;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: silver;
  ;
}

h1 {
  margin: 5px;
  font-size: larger;
  width: 90%;
  justify-content: center;
}
.button{border:solid darkmagenta 4px;margin-top: 10%;padding:  0.5em; font-size: x-large;}
input{color:darkmagenta; margin-bottom: 32px;}
img {
  height:120px;
  width: 120px;
  padding: 5px;
  margin: 10px;
}
input{border:solid darkmagenta 4px; justify-content: center;text-align: center;font-size: x-large;}
.App-link {
  color: #61dafb;
}
form{border: solid 4px darkmagenta; padding: 3em;}
.selected {
  border: 2px solid ;
  border-color: blue;
}
input{margin: 25px;}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}